@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Dziękujemy za rejestracje, jeszcze tylko ostatni krok.
</p>  
<p>  
    Zaakceptuj nasz <a style= "color: #850D01; border-color: #850D01" href="https://www.ratujemyzwierzaki.pl/regulamin">Regulamin</a> poprzez kliknięcie:
</p>  
<p>  
     <a style= " color: #850D01; border-color: #850D01"  id="confirm-link" href="@Model.EmailConfirmationUrl">Zgadzam się</a>
</p>
    }
    else
    {

    }
}

