<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Strona startowa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <h1 id="mainHeader">PSINDER</h1>
</head>
<body>

    <a asp-action="Create" asp-controller="Posts" id="createNew" style="float:right; position: absolute;top:180px;left:75%">+ Dodaj ogłoszenie</a>

    
    <div class="description_container" style="margin-top: 80px;">
            Psinder to miejsce, w którym możesz zapoznać się z ofertą zwierząt przeznaczonych do adopcjii wybrać dla siebie odpowiedniego towarzysza.
            Jeśli to Ty szukasz nowego domu dla zwierzaka, którym się aktualnie opiekujesz, również znajdziesz tu możliwość zamieszczenia swojego ogłoszenia.
            Naszą misją jest łączenie potrzebujących domu i miłości zwierząt oraz ludzi, którzy chcą je nimi obdarzyć, w zamian otrzymując niemniejsze pokłady ciepła, przyjaźni i wdzięczności.
    </div>



    <div class="container">
        <div class="dog-list">
         <div class="dog-card">
                <img src="~/images/licensed-image.jpg" alt="Pies 1" />
                <h2>"Korti"</h2>
                <p>
                    Przyjazny, radosny i uwielbia długie spacery !
                </p>
                <a id="PoznajMnie">Poznaj mnie</a>
            </div>
            <div class="dog-card">
                <img src="~/images/licensed-image.jpg" alt="Pies 2" />
                <h2>"Luna"</h2>
                <p>
                    Malutka i pełna energii ! Wygląda niepozornie ale potrafi pokazać ząbki. Piesek nie może zostać w domu ze względu na alergię.
                </p>
                <a id="PoznajMnie">Poznaj mnie</a>
            </div>
            <div class="dog-card">
                <img src="~/images/licensed-image.jpg" alt="Pies 3" />
                <h2>"Rex"</h2>
                <p>
                    Piesek, który już długo czeka, a nie wiemy dlaczego ? Oferuje całe serduszko, jest grzeczny i posłuszny. Tylko trochę nieśmiały...
                </p>
                <a id="PoznajMnie">Poznaj mnie</a>
            </div>
        </div>

        <a asp-action="Index" asp-controller="Posts" id="ShowAll">Pokaż wszystkie!</a>
</div>


</body>
