@model IEnumerable<Psinder.Models.PostDTO>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Strona startowa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <h1 id="mainHeader">PSINDER</h1>
</head>
<body>

    <a asp-action="Create" asp-controller="Posts" id="createNew" style="float:right; position: absolute;top:180px;left:75%">+ Dodaj ogłoszenie</a>

    
    <div class="description_container" style="margin-top: 80px;">
            Psinder to miejsce, w którym możesz zapoznać się z ofertą zwierząt przeznaczonych do adopcjii wybrać dla siebie odpowiedniego towarzysza.
            Jeśli to Ty szukasz nowego domu dla zwierzaka, którym się aktualnie opiekujesz, również znajdziesz tu możliwość zamieszczenia swojego ogłoszenia.
            Naszą misją jest łączenie potrzebujących domu i miłości zwierząt oraz ludzi, którzy chcą je nimi obdarzyć, w zamian otrzymując niemniejsze pokłady ciepła, przyjaźni i wdzięczności.
    </div>

    <div class="flex-container">
    @foreach (var item in Model)
    {
        <div class="dog-card">
            <img src="@Url.Action("GetImage", "Posts", new {item.Id} )" />
            <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
            <p>@Html.DisplayFor(modelItem => item.Title)</p>
            <a asp-action="Details" asp-controller="Posts" asp-route-id="@item.Id">
                <div id="PoznajMnie"; position: absolute; bottom: 20pf;>Poznaj mnie</div>
            </a>
        </div>
    }
</div>

        <a asp-action="Index" asp-controller="Posts" id="ShowAll">Pokaż wszystkie!</a>
</div>


</body>
