@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generate two-factor authentication (2FA) recovery codes";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Umieść te kody w bezpiecznym miejscu!</strong>
    </p>
    <p>
        Jeżeli stracisz konto i nie będziesz posiadać kodów to odzyskanie konta będzie niemożliwe!
    </p>
    <p>
        Wygenerowanie nowych kodów nie zmieni kodów otrzymanych przy rejestracji. Jeżeli chcesz je zmienić to <a asp-page="./ResetAuthenticator">zresetuj swoje kody.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Wygeneruj awaryjne kody.</button>
    </form>
</div>
