/*K<olory aplikacji - tego si� trzymamy 
    AA3C3C  - 30% - ten pomara�czowy
    whitesmoke  - 60% - ten jasny szary
    #333 - 10% - ten ciemny szary
*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('tlo.png');
    background-attachment: fixed;
    background-size: cover;
}


body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: -1;
}

#mainHeader {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 4rem;
    color: #333;
    background-color: whitesmoke;
    text-shadow: 1px 1px 0px #ccc;
    letter-spacing: 2px;
    margin-top: 8px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #ccc;
}

#createNew {
    font-family: Arial, sans-serif;
    background-color: #AA3C3C;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    margin: 10px 0;
    box-shadow: 5px 5px 5px #ccc;
    transition: background-color 0.3s ease;
    background: #F1BEBD
}

#createNew:hover {
        background-color: whitesmoke;
        cursor: pointer;
}

#allPost {
    margin: 20px 0;
    width: 100%;
    height: 50px;
}

    #allPost input[type="text"] {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    #allPost input[type="submit"] {
        background-color: #AA3C3C;
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        margin-left: 10px;
    }

#sortPosts {
    /*TODO*/
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

/* Pagination Styles */

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.page-item {
    margin: 0 10px;
    list-style: none;
}
/*TODO - to s� buttony do pagingu*/
.page-item a {
        background-color: #D9D9D9;
        border: 1px solid #ccc;
        color: #333;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
}
/*TODO - to s� te cyferki do pagingu */
.page-item.active a {
        background-color: #888585;
}

#number_background{


}
/*nawigacyjne rzeczy*/
/*----------------------------------------------------------------*/
.navbar {
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}
.navbar-brand {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #0066ff;
    text-shadow: 1px 1px #ccc;
    text-transform: uppercase;
    letter-spacing: 1px;
}

    .navbar-brand:hover {
        color: whitesmoke;
        text-shadow: none;
    }

.nav-link {
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .nav-link:hover {
        color: whitesmoke;
        background-color: whitesmoke;
        color: #fff;
        box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    }

.navbar-nav {
    margin-right: auto;
}

.navbar-nav > li {
        margin-right: 15px;
    }
.navbar-brand img {
    width: 150px;
}
/*Strona startowa styl*/
.description_container {
    background: #850D01;
    padding: 30px;
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 10px;
    color: #fff;
}


.dog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.dog-card {
    width: 30%;
    margin-bottom: 30px;
    border: 1px solid #CD705E;
    border-radius: 10px;
    background-color: #CD705E;
    box-shadow: 5px 5px 5px CD705E;
    transition: transform 0.3s ease-in-out;
    color: white
}

.dog-card:hover {
        transform: scale(1.1);
        background-color: #CD705E;
    }


.dog-card:hover a {
        font-weight: bold;
        color: whitesmoke;
        background: white;
    }

    .dog-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border: 2px solid whitesmoke;
    }

    .dog-card h2 {
        margin: 0;
        padding: 10px;
        font-size: 24px;
        border-bottom: 1px solid #ddd;
        text-align: center;
        font-weight: bold;
    }

.dog-card p {
        margin: 0;
        padding: 20px;
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        height: 160px;
}

#PoznajMnie {
    display: block;
    margin: auto auto 20px auto;
    background-color: #ffffff;
    border: none;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 30px;
    font-size: 16px;
    box-shadow: 5px 5px 5px #ccc;
    transition: background-color 0.3s ease;
    width: 50%;
    text-align: center;
    color: black
}

#ShowAll {
    display: block;
    margin: auto auto 20px auto;
    background-color: #AA3C3C;
    border: none;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    transition: background-color 0.7s ease;
    background: linear-gradient(to bottom, #AA3C3C, #8F3030);
    width: 30%;
    text-align: center;
}

#backToList {
    color: black;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}





